<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:replace="~{fragmentos/head::encabezados(~{::title}, ~{})}">
    <title>Contacto</title>

</head>
<body class="micontacto">

<nav th:replace="~{fragmentos/barraInicio::barra-inicio}"></nav>

<form class="contform" method="post" th:action="@{/contacto/submit}" >
<div class="container1">
  <div class="contact__wrapper shadow-lg mt-n9">
    <div class="row no-gutters">
      <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
        <h3 th:text="#{contacto}" class="color--white mb-5"></h3>

        <ul class="contact-info__list list-style--none position-relative z-index-101">
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-envelope"></i></span> support@active.com
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span> (034)-941454-545
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> Active Language SL.
            <br> 2694 Calle de la Cruz
            <br> MAdrid 99161

            <div class="mt-3">
              <a href="https://www.google.com/maps" target="_blank" class="text-link link--right-icon text-white">Como llegar <i class="link__icon fa fa-directions"></i></a>
            </div>
          </li>
        </ul>

        <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
          <svg xmlns="http://www.w3.org/2000/svg"  width="444px" height="626px">
            <defs>
              <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
                <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(0,54,207)" stop-opacity="0"></stop>
              </linearGradient>

            </defs>
            <path fill-rule="evenodd" opacity="0.302" fill="rgb(72, 155, 248)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
            <path fill="url(#PSgrad_1)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
          </svg>
        </figure>
      </div>

      <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
        <form action="#" class="contact-form form-validate" novalidate="novalidate">
          <div class="row">
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label th:text="#{name}" class="cont" for="firstName"></label>
                <input type="text" class="form-control" id="firstName" name="firstName">
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label th:text="#{lastname}" for="lastName" class="cont"></label>
                <input type="text" class="form-control" id="lastName" name="lastName">
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label th:text="#{email}" class="cont" for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email">
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label th:text="#{phone}" for="phone" class="cont" >Teléfono</label>
                <input type="tel" class="form-control" id="phone" name="phone" >
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <div class="form-group">
                <label th:text="#{ayuda}" class="cont" for="message">En que podemos ayudarte?</label>
                <textarea class="form-control" id="message" name="message" rows="4" placeholder="Deja tu mensaje"></textarea>
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <button  class="btn btn-primary">Enviar</button>
            </div>

          </div>
        </form>
      </div>
      <!-- End Contact Form Wrapper -->

    </div>
  </div>
</div>
</form>
<th:block th:replace="~{fragmentos/bloque-final::bloquefinal(~{::script})}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/js/borrar.js}"></script>
</th:block>
</body>
</html>